//- Все примеси в этом файле должны начинаться c имени блока (dynamic-title)

mixin dynamic-title(mods)
  h1.dynamic-title(class=mods) Привет, меня зовут Нади. Добро пожаловать
    span.dynamic-title__text(data-words = [' в мою школу Йоги!', ' в лучшую школу Йоги!'])