mixin nav(mods)
  nav.main-nav(class=mods)
    ul.main-nav__list
      li.main-nav__item 
        a.main-nav__link(href='about.html') О нас
      li.main-nav__item 
        a.main-nav__link(href='teachers.html') Наши учителя
      li.main-nav__item 
        a.main-nav__link(href='classes.html') Йога-класс
      li.main-nav__item 
        a.main-nav__link(href='blog.html') Блог 
      li.main-nav__item 
        a.main-nav__link(href='contacts.html') Контакты